:root {
  /* fonts */
  --font-family: 'Roboto', sans-serif;

  /* colors */
  --font-color: #000000;
  --main-background-color: #f3f3f7;

  --border-radius: 5px;
}

*, *::after, *::before {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);

  background-color: var(--main-background-color);
}

.input {
  height: 40px;
  padding: 0 20px;

  font-family: var(--font-family);

  border: 1px solid #eeeeef;
  border-radius: 50px;
}

.input--pointer {
  cursor: pointer;
}

.input[readonly],
.input[display] {
  background-color: #fafafc;
}

.container {
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
}

.regexps {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  margin: 0px;
  padding: 0px;

  list-style: none;
}

.not-found {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.not-found__code {
  margin: 0px;
  font-size: 18px;
  color: #838383;
}

.not-found__message {
  margin: 5px 0px 0px 0px;
  font-size: 48px;
}