.card__header {
  padding: 20px;

  border-bottom: 2px solid #f1f1f1;
}

.card__title {
  display: block;
  width: 100%;

  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;

  overflow: hidden;
}

.card__body {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.card__input {
  text-align: center;
}

.card__results {
  margin-top: 10px;
}